<%= render partial: 'shared/header_form'%>
<%= render partial: 'shared/nav_form' %>
<h1>Log in</h1>
<% if flash["error"] %>
    <div class="error"><%= flash["error"] %></div>
<% end %>
<%= form_tag "/login" do %>
  <%= label :username, "Username" %>
  <%= text_field_tag :username %>
  <%= label :password, "Password" %>
  <%= password_field_tag :password %>
  <%= submit_tag "Login" %>
<% end %>
<%= render partial: 'shared/footer_form'%>
