<div class = "nav bar">
<ul>
  <span class="logo"><li><%= link_to home_path%> </li></span>
  <li><%= link_to "Home", home_path %> </li>
  <li><%= link_to "About", about_path %></li>
  <li><%= link_to "Contact", contact_path%></li>

  <span class= "sign"><li><a href="about.asp">Sign In</a></li></span>
  <span class= "sign"><li><a href="about.asp">Sign Up</a></li></span>
</ul>
</div>

<div class = "search">
   <%= form_tag("search", method: :get) do %>
    <span class="form"><%= text_field_tag(:search, params[:search]) %></span>
     <%= submit_tag("Search")%>
    <% end %>
</div>