  </div> <!-- Closing div container -->
  <!-- Footer -->

  <footer class="page-footer font-small unique-color-dark">
    <div style="background-color: #6351ce;">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Company name</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Flazon.co</p>
          <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" style="font-size:36px;"></i></a><br><br>
          <a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook" style="font-size:36px;"></i></a><br><br>
          <a href="https://facebook.com/" target="_blank"><i class="fa fa-amazon" style="font-size:36px;"></i></a><br><br> 
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="<%=new_user_path%>">Sign Up</a>
          </p>
         <p>
            <a href="<%= about_path %>">About</a>
          </p>
          <p>
            <a href="<%=contact_path%>">Contact</a>
          </p>
          <p>
            <a href="<%=items_path%>">Items</a>
          </p>
          <p>
            <a href="<%=categories_path%>">Categories</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
       
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
          address:  <i class="fas fa-home mr-3"></i><br> 1440 G St NW, Washington, DC 20005, US</p>
          <p>
          e-mail <i class="fas fa-envelope mr-3"></i><a href="mailto:webmaster@example.com"> info@flazon.com </a></p>
          <p>
          Phone:  <i class="fas fa-phone mr-3"></i> + 123 456 7898</p>
          <p>
          Fax:  <i class="fas fa-print mr-3"></i>   + 123 456 7899</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© <%=  Date.current.year %> Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> flazon.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  </body>
</html>
