<br><br>
<div>
  <% session[:cart].each do |cart_id| %>
    <% item = Item.all.find(cart_id) %>
      <h2>Item Name: <%= item.name %></h2>
      <h2>Price: <%= number_to_currency(item.price) %> </h2>
      <span> On category: <%= link_to item.category.name, category_path(item.category) %> </span>
      <br><br>
      <%= link_to "Edit" %>
      <%= link_to "Delete", delete_from_cart_path(item.id) %>
  <% end %>
</div>
