<h1>####details###</h1>

Category Name: <%= @category.name %><br><br>

Category's Items:<br><br>
<% @category.items.each do |item| %>
    <%= link_to item.name, item_path(item) %><br>
    Edit Delete<br><br>
<% end %>


<!--<%= link_to "Edit", edit_category_path(@category) %>
<%= link_to "Delete", @category, method: :delete %>-->
<%= link_to "New Item", new_item_path %>