<!DOCTYPE html>
<html>
  <head>
    <title>Flazon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if session["username"] %>
    <%= "Welcome #{session["username"]}, Your Cart has" %>
      <% if session[:cart] %>
        <%= link_to session[:cart].count, cart_path %><%= " item(s)."%>

      <% end %>

    <%= link_to "Log out", logout_path, method: :delete %>
  <% else %>
    <%= link_to "Log in", login_path %>
  <% end %>


    <%= yield %>
  </body>
</html>
